  <div class="fields">
      <p>
          <%= f.object.rule.id%>
          <%= f.object.rule.condition %>
          <%= f.radio_button :pick, 'true' %>
          <%= f.label :true %>
          <%= f.radio_button :pick, 'false' %>
          <%= f.label :false %>
      </p>
  </div>
