<h1>Showing all model data</h1>
<h3>Doctor</h3>
<% @my_doctors.each do |doctor| %>
<ul>
    <li><%= doctor.id %> - <%= doctor.name %></li>
</ul>
<%end%>

<h3>Patient</h3>
<% @my_patients.each do |patient| %>
<ul>
    <li><%= patient.id %> - <%= patient.name %></li>
</ul>
<%end%>

<h3>Doctor - Patient</h3>
<% @my_doctor_patient_joins.each do |pair|
     doctor  = Doctor.find(pair.doctor_id)
     patient = Patient.find(pair.patient_id)
 %>
<ul>
    <li>Doctor: <%= doctor.id %> <%= doctor.name %> --- Patient: <%= patient.id %> <%= patient.name %></li>
</ul>
<%end%>
