<h1>Showing all model data</h1>
<h3>Doctor</h3>
<% @my_doctors.each do |doctor| %>
<ul>
    <li><%= doctor.id %> - <%= doctor.name %></li>
</ul>
<%end%>

<h3>Patient</h3>
<% @my_patients.each do |patient| %>
<ul>
    <li><%= patient.id %> - <%= patient.name %></li>
</ul>
<%end%>

<h3>Disease</h3>
<% @my_diseases.each do |disease| %>
<ul>
    <li><%= disease.id %> - <%= disease.name %></li>
</ul>
<%end%>

<h3>Patient - Doctor - Disease</h3>
<% @my_patients.each do |patient| %>
    <h4>Patient: <%=patient.name%> </h4>
    <% patient.doctors.each do |doc| %>
    <ul>
        <li>doctor: <%= doc.name %></li>
    </ul>
    <%end%>

    <% patient.disease.each do |dis| %>
    <ul>
        <li>disease: <%= dis.name %></li>
    </ul>
    <%end%>
<%end%>
