<h1>Medicine-Box</h1>

<p>Create new <%= link_to "patient", new_patient_path %></p>

<% @my_patients.each do |patient| %>
    <h4>Patient No.: <%= patient.id %></h2>
    <p>Name: <%= patient.name %></p>

    <% @doc = Array.new %>
    <% patient.doctors.each { |d| @doc << d.name} %>
    <p>Doctors: <%= @doc.to_sentence %></p>

    <p>Chart:
        <ul><li>Age: <%= patient.chart.age %></li>
            <li>Height: <%= patient.chart.height %></li>
            <li>Diabetic: <%= patient.chart.diabetic %></li>
            <li>BP: <%= patient.chart.blood_pressure_systolic %>/<%= patient.chart.blood_pressure_diastolic %></li>
        </ul>
        </p>
    <% @dis = Array.new %>
    <% patient.chart.diseases.each { |d| @dis << d.name} %>
    <p>Disease: <%= @dis.to_sentence %></p>
    <% patient.schedules.each do |s| %>
        <p>Schedule: <%= s.description %>, <%= s.time %></p>
    <%end%>
<%end%>
