<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    Name: <%= f.text_field :name %>
  </p>

  <div id="rules">
      <%= render 'rule', :collection => :rules, :f => f %>
  </div>

  <%#= link_to_function('Add a rule', "alert('Hi all!')") %>

  <%= link_to_function('Add a rule', nil) do |page|
      page.insert_html(:bottom, :rules, :partial => 'rule', :object => Rule.new)
  end %>

  <p><%= f.submit %></p>
<% end %>
