<%= nested_form_for @survey do |f| %>
  <%#= f.error_messages %>
  Plan: <%= f.text_field :name %>

  <%= f.fields_for :rules do |rule_form| %>
      <div>
      Rule:
      Question: <%= rule_form.text_field :condition %>
      If true:  <%= rule_form.text_field :true %>
      If false: <%= rule_form.text_field :false %>
      <%= rule_form.link_to_remove "remove" %>
      </div>

  <%end%>

  <%= f.link_to_add "Add Rule", :rules %>
  <p><%= f.submit "Submit" %></p>
<% end %>
