<%= nested_form_for @survey do |f| %>
  <%#= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>

  <%= f.fields_for :rules %>
  <%= f.link_to_add "Add Rule", :rules %>
  <p><%= f.submit "Submit" %></p>
<% end %>
