<h1>Managment Plans</h1>

<table>
  <thead>
    <tr>
      <!--<th>Id</th>-->
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <!--<td><%#= survey.id %></td>-->
        <td><%= survey.name %></td>
        <td><%#= button_to 'View Rules', survey, method: :get %></td>
        <td><%= link_to 'View Rules', survey, class: "ui-button" %></td>
        <td><%#= link_to 'Edit', edit_survey_path(survey) %></td>
        <td><%#= link_to 'Delete', survey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= button_to 'Delete', survey, method: :delete, class: "ui-button" %></td>
        <td><%= link_to 'Launch Tool', new_client_survey_path(:target_survey => survey), class: "ui-button" %></td>
        <td><%#= button_to 'Launch Tool', new_client_survey_path(target_survey: survey), action: "new", method: :get %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plan', new_survey_path %>
