<p id="notice"><%= notice %></p>

<h1><%= @survey.name %></h1>

<table>
  <thead>
    <tr>
      <th>Rule no.</th>
      <th>Condition</th>
      <th>True</th>
      <th>False</th>
    </tr>
  </thead>

  <tbody>
    <% @survey.rules.each do |rule| %>
        <tr>
            <td><%= rule.id %></td>
            <td><%= rule.condition %></td>
            <td><%= rule.true %></td>
            <td><%= rule.false %></td>
        </tr>
    <%end%>
  </tbody>
</table>




<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
